/* Mainstyle */
body {
    font-family: 'Mitr', sans-serif;
    font-size: 1.6em;
    color: black;
    background-color: white;
}
.spector{
    margin-top: 40px;
}
.spector-txt{
    margin-top: 90px;
}
.head-txt{
    padding-top: 50px;
    font-size: 1.8em;
}
.head-txt p{
    border: 1.5px solid white;
    border-radius: 42px;
    color: white;
    padding: 10px;
    font-size: 0.9em;
}
.head-txt h1{
    font-size: 1.2em;
}
.head-txt h2 {
    font-size: 1em;
    color: white;
}
.head-txt span{
    font-size: 1.9em;
}
.pro_btn {
    font-size: 16px;
    line-height: 40px;
    font-weight: 600;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 47px 8px;
    border-radius: 50px;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.pro_btn:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    -ms-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.pro_btn:hover {
    color: #3fcef7;
    -webkit-box-shadow: 7.5px 12.99px 25px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 7.5px 12.99px 25px 0px rgba(0, 0, 0, 0.15);
}
.pro_btn:hover:before {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}
.section-header {
    min-height: 100%;
    padding-bottom: 50px;
    background: #4570FF; /* For browsers that do not support gradients */
    background: linear-gradient(90deg, rgba(0, 135, 255,1) 20.09375%,rgba(0, 194, 255,1) 80.09375%); /* Standard syntax (must be last) */
    overflow: hidden;
}
.section-header img{
    width: 100%;
}
.section-white {
    position: relative;
    z-index: 1;
    padding-top: 60px;
    padding-bottom: 60px;
}
.section-white p{
    display: inline-block;
    font-size: 1.3em;
}
.section-white x{
    font-size: 1.4em;
}
.section-white span{
    font-size: 1.5em;
}
.section-white img {
    width: 70%;
}
#nick{
    position: absolute;
    z-index: 2;
    top:-140px;
}
.section-orange {
    position: relative;
    z-index: 6;
    padding-top: 60px;
    padding-bottom: 30px;
    background: linear-gradient(90deg, rgba(255, 201, 64,1) 20.09375%,rgba(255, 200, 63,1) 20.09375%,rgba(255, 144, 26,1) 80.09375%);
}
.section-orange img {
    width: 100%;
}
.section-orange h1 {
    font-size: 1.8em;
    padding: 0px 10px;
}
.section-orange p{
    color: #525252;
    font-size: 1.2em;
}
.section-blue {
    padding: 30px 30px;
    background: #4570FF; /* For browsers that do not support gradients */
    background: linear-gradient(90deg, rgba(0, 135, 255,1) 20.09375%,rgba(0, 194, 255,1) 80.09375%); /* Standard syntax (must be last) */
}
.section-blue h1{
    font-size: 2.4em;
    color: white;
}
.section-blue h2{
    font-size: 1.4em;
    color: black;
}
.section-blue x{
    font-size: 0.8em;
    color: white;
}
.section-blue p{
    font-size: 1.5em;
    color: white;
}
.section-blue img{
    width: 100%;
}
.section-register {
    padding-top: 60px;
    padding-bottom: 50px;
    overflow: hidden;
}
.section-register img {
    width: 100%;
}
.section-register h1{
    font-size: 4em;
}
.section-register h2{
    font-size: 3.5em;
}
.section-register p{
    font-size: 2em;
}
.section-register x{
    text-decoration: line-through red;
}
.section-register span {
    font-size: 1.4em;
}
.form-group input{
    text-align: left;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: transparent;
    outline: none;
    background: transparent;
    border-bottom: 1px solid black;
    color: #FF901A;
}
.section-footer {
    padding-top: 60px;
    padding-bottom: 30px;
    background: linear-gradient(90deg, rgba(255, 201, 64,1) 20.09375%,rgba(255, 200, 63,1) 20.09375%,rgba(255, 144, 26,1) 80.09375%);
}
.floating {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }
}
/* Edit Boostrap */
.navbar-default {
    background-color: transparent;
    background: transparent;
    border-color: transparent;
}
.navbar li {
    color: #000
}
.navbar-brand img{
    width: 150px;
    margin-left: 40px;
}
/* Responsive Mobile Size  */
/* ให้ใช้ค่านี้เมื่อมีหน้าจอขนาด 320 px ไปจนถึง 736px ขนาดของจอ iPhone 5 - iPhone 8 Plus */
@media only screen and (min-device-width : 320px) and (max-device-width : 736px) {
    .section-header{
        height: 700px;
    }
    .navbar-brand img {
        width: 100px;
        margin-left: 120px;
    }
    .head-txt h1{
        font-size: 0.7em;
    }
    .head-txt h2 {
        font-size: 0.6em;
    }
    .head-txt span{
        font-size: 1.9em;
    }
    .head-txt p{
        font-size: 0.7em;
    }
    .section-register h1{
        font-size: 2em;
    }
    .section-register h2{
        font-size: 1.5em;
    }
    .section-register p{
        font-size: 1em;
    }
    .section-register x{
        text-decoration: line-through red;
    }
    .section-register span {
        font-size: 1.4em;
    }
}
/* ให้ใช้ค่านี้เมื่อมีหน้าจอขนาดของจอ iPad */
@media only screen and (device-width: 768px) {
    /* For general iPad layouts */
    .section-header{
        height: 1100px;
    }
    .section-register{
        padding-top: 30px;
    }
}
/* เรียกใช้ชุดคำสั่งนี้เมื่อ iPad เป็นแนวตั้ง */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {

}
/* เรียกใช้ชุดคำสั่งนี้เมื่อ iPad เป็นแนวนอน */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {

}
@media only screen and (min-device-width : 1920px) {
}